.slider-main {
    height: 550px;
    width: 1000px;
    position: relative;

    &__pagination {
        display: flex;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        justify-content: center;
        z-index: 3;
    }
    &__point {
        border: 1px solid var(--grey3);
        height: 8px;
        width: 8px;
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;

        &:hover,
        &_active {
            border-color: var(--green);
        }
    }
}

@include media-breakpoint-between(lg, xl)
{
    .slider-main {
        height: 450px;

        &__img {
            height: 450px;
        }
    }
}
@include media-breakpoint-between(sm, md)
{
    .slider-main {
        height: auto;
        width: 100%;
    }
}
@include media-breakpoint-only(xs)
{
    .slider-main {
        height: auto;
        width: calc(100% + 30px);
        margin: 0 -15px;

        &__img {
            display: block;
        }
        &__pagination {
            bottom: 15px;
        }
    }
}