.vacancy-text {
    width: 770px;
    margin: 0 0 35px auto;

    &__block {
        height: 360px;
    }
    &__inner {
        padding: 0 60px 0 0;
        font-size: 16px;
        line-height: 21px;
    }
}

@include media-breakpoint-down(lg)
{
    .vacancy-text {
        width: 100%;

        &__block {
            height: auto;
        }
        &__inner {
            padding: 0;
        }
    }
}