.news-detail-gallery {
    width: 770px;
    margin: 0 0 0 auto;
    display: flex;

    &__link {
        margin: 0 30px 0 0;
    }
    &__img {
        display: block;
        width: 100%;
    }
}

@include media-breakpoint-up(xl)
{
    .news-detail-gallery {

        &__link {

            &:nth-child(n+ 4) {
                display: none;
            }
        }
    }
}
@include media-breakpoint-between(md, lg)
{
    .news-detail-gallery {
        width: auto;
        margin: 0 -15px;
        flex-wrap: wrap;

        &__link {
            margin: 0 14px 20px;
        }
    }
}
@include media-breakpoint-down(sm)
{
    .news-detail-gallery {
        width: auto;
        flex-wrap: wrap;

        &__link {
            width: 45%;
            margin: 0 auto 20px 0;
        }
    }
}