.news-detail-page {
    display: flex;
    justify-content: space-between;

    &__left {
        padding: 50px 0 0 135px;
    }
    &__right {
        width: calc(100% - 645px);
        padding: 0 75px 0 0;
    }
}

@include media-breakpoint-only(xl)
{
    .news-detail-page {

        &__left {
            padding: 50px 0 0;
        }
        &__right {
            padding: 0;
            width: calc(100% - 555px);
        }
    }
}
@include media-breakpoint-down(lg)
{
    .news-detail-page {
        flex-direction: column;

        &__left {
            max-width: 510px;
            padding: 0;
            margin: 0 auto 30px;
        }
        &__right {
            width: 100%;
            padding: 0;
        }
    }
}