<% var data = {
    title: "Vostok - About"
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main-main">
    <div class="container">
        <h1>О КОМПАНИИ</h1>

        <div class="logo-page">
            <div class="logo-page__left">
                <img class="logo-page__logo logo-page__logo_big" src="./local/img/logo.svg" alt="">
                <nav class="menu-inner">
                    <a class="menu-inner__link" href="javascript:;">РУКОВОДСТВО</a>
                    <a class="menu-inner__link" href="javascript:;">СОТРУДНИКИ</a>
                    <a class="menu-inner__link" href="javascript:;">НАГРАДЫ</a>
                </nav>
            </div>
            <div class="logo-page__right">

                <div class="about-text scroll-pane">
                    <div class="about-text__block scroll-pane__block">
                        <div class="about-text__inner">
                            <h2>РАССКАЗАТЬ ИСТОРИЮ</h2>
                            «Продукт, о котором невозможно рассказать историю, брендом не является»<br>
                            Что же такое легенда бренда в двух словах?<br>
                            Это расширенная версия позиционирования, которая разработана специально для потребителей. Не для маркетологов этой компании,  а для целевой аудитории.<br>
                            <br>
                            Brand Story — это волшебная палочка, которая вокруг обычного продукта создает необычный эмоционально-исторический фон. Он проникает в сознание, разбивая рекламные фильтры, вовлекает аудиторию в коммуникационное пространство, запоминается и, что самое важное, всплывает в моменты принятия решения о покупке (оформления сделки).<br>
                            <br>
                            Что может включать в себя легенда?<br>
                            Легенда бренда, как мы выяснили чуть выше, — это развернутый вариант позиционирования. Она доносит миссию, ценности, потребительские выгоды, уникальные преимущества товара. То есть те ключевые моменты, которые отражены в УТП продукта.<br>
                            <br>
                            Пример легенды продукта: зернистый творог ТМ «Наше Простоквашино».<br>
                            <br>
                            Шарик: «Матроскин, поделись секретом: а почему у тебя творог – зернами?».<br>
                            <br>
                            Матроскин: «Это, Шарик, особое блюдо, его все любят: и отдельно едят, и в салаты овощные добавляют, очень вкусно и изысканно получается. Чтобы это лакомство приготовить, я беру мягкие творожные зерна и заливаю сливками. Наш зернистый творог «Простоквашино» получается нежным, но не очень калорийным – в нем 5 % жирности».<br>
                            <br>
                            Эта версия легенды взята из сайта торговой марки. Ее же, но в краткой форме, вы найдете на упаковке продукта.  Для маркетологов весь текст можно было бы облачить в сухую выжимку: творог в зернах, особенный продукт, подходит и для самостоятельного употребления, и для салатов. Нежный, малокалорийный. На сливках.<br>
                            <br>
                            Впечатлил бы этот текст конечного потребителя — вряд ли. А в виде легенды получилось очень интересно, вкусно и полезно.<br>
                            <br>
                            Еще один пример легенды ТМ «Наш сок» — Одесского консервного завода детского питания.<br>
                            <br>
                            Текст переведен с украинского языка:<br>
                            <br>
                            Вкус родом из детства. Соки «с маленьким поваренком» на упаковке производились еще во времена, когда мы были маленькими, и все было лучше, вкуснее и натуральнее. Прошло время, мы выросли и много чего изменилось. Но в нашем соке — соке с маленьким поваренком — мы сохранили вкус счастливого детства.
                        </div>
                    </div>
                    <a href="javascript:;" class="scroll-pane__down"></a>
                </div>

            </div>
        </div>

    </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>