<% var data = {
    title: "Vostok - About"
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main-main">
    <div class="container">
        <h1 class="h1_green">Сотрудники</h1>

        <div class="logo-page">
            <div class="logo-page__left">
                <img class="logo-page__logo" src="./local/img/logo.svg" alt="">
                <nav class="menu-inner">
                    <a class="menu-inner__link" href="javascript:;">РУКОВОДСТВО</a>
                    <a class="menu-inner__link menu-inner__link_active" href="javascript:;">СОТРУДНИКИ</a>
                    <a class="menu-inner__link" href="javascript:;">НАГРАДЫ</a>
                </nav>
            </div>
            <div class="logo-page__right">

                <div class="scroll-pane">
                    <div class="employees-list scroll-pane__block">

                        <div class="employees-list__items">
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees1.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 115
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees2.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 128
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees3.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 115
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees4.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 115
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees1.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 115
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees2.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 128
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees3.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 115
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                            <div class="employees-list__item">
                                <a href="javascript:;" class="employees-list__pict">
                                    <img class="employees-list__img" src="./local/uploads/employees4.jpg" alt="">
                                </a>
                                <a href="javascript:;" class="employees-list__name">
                                    ИВАНОВ<br>
                                    Имя Отчество
                                </a>
                                <div class="employees-list__dol">
                                    Креативный директор
                                </div>
                                <a href="tel:+74950326611" class="employees-list__phone">
                                    <svg class="employees-list__phone-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-phone"></use>
                                    </svg>
                                    +7 495 032 66 11 доб. 115
                                </a>
                                <a href="javascript:;" class="btn-one btn-plus btn-full-width">
                                    ПОДРОБНЕЕ
                                    <span class="btn-plus__icon"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <a href="javascript:;" class="scroll-pane__down"></a>
                </div>

            </div>
        </div>

    </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>