<% var data = {
    title: "Главная"
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<!-- header обернуть в <div class="d-xl-none"> или самому <header class="main-header"> на главной странице добавить класс d-xl-none, т.е. <header class="main-header d-xl-none"> -->
<div class="d-xl-none">
    <%= _.template(require('./../includes/header.html'))(data) %>
</div>

<main class="main-main">
    <div class="index-block">
        <div class="container">
            <div class="index-block__block">
                <div class="index-block__left">
                    <img class="index-block__logo" src="./local/img/logo.svg" alt="">
                    <div class="index-block__desc">SEMPER UNO GRADU ANTE</div>
                </div>
                <div class="index-block__right">

                    <!-- Главный слайдер -->
                    <div class="slider-main">
                        <div class="slider-main__slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide slider-main__slide">
                                    <img src="./local/uploads/main.slide.png" class="slider-main__img" alt="">
                                </div>
                                <div class="swiper-slide slider-main__slide">
                                    <img src="./local/uploads/main.slide.png" class="slider-main__img" alt="">
                                </div>
                                <div class="swiper-slide slider-main__slide">
                                    <img src="./local/uploads/main.slide.png" class="slider-main__img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slider-main__pagination"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <nav class="menu-index">
        <div class="container">
            <div class="menu-index__block">
                <a class="menu-index__link" href="javascript:;">О КОМПАНИИ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">НОВОСТИ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">ВИДЫ ДЕЯТЕЛЬНОСТИ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">ПРОЕКТЫ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">ФОТО И ВИДЕО</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">НАШ КОНСОРЦИУМ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">СТАТЬ ПАРТНЕРОМ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">ВАКАНСИИ</a>
                <span class="menu-index__sep"></span>
                <a class="menu-index__link" href="javascript:;">КОНТАКТЫ</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="index-desc">
            Ценность и уникальность нашей компании заключается в нашей компании заключается в Ценность и уникальность нашей компании заключается в
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>