<% var data = {
    title: "Вакансии"
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main-main">
    <div class="container">
        <h1>ВАКАНСИИ</h1>

        <div class="logo-page">
            <div class="logo-page__left">
                <img class="logo-page__logo logo-page__logo_big" src="./local/img/logo.svg" alt="">
            </div>
            <div class="logo-page__right">

                <div class="vacancies-list scroll-pane">
                    <div class="vacancies-list__block scroll-pane__block">
                        <div class="vacancies-list__inner">
                            <a href="javascript:;" class="vacancies-list__name">
                                ГРУЗЧИК (Симферопольское ш.)
                            </a>
                            <div class="vacancies-list__info">
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">направление</div>
                                    <div class="vacancies-list__info-value">Логистика</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">зарплата</div>
                                    <div class="vacancies-list__info-value">55 000 Р</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">место работы</div>
                                    <div class="vacancies-list__info-value"></div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">график работы</div>
                                    <div class="vacancies-list__info-value">5/3</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">соц.пакет</div>
                                    <div class="vacancies-list__info-value">ДМС</div>
                                </div>
                            </div>
                            <a href="javascript:;" class="vacancies-list__name">
                                ГРУЗЧИК (Симферопольское ш.)
                            </a>
                            <div class="vacancies-list__info">
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">направление</div>
                                    <div class="vacancies-list__info-value">Логистика</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">зарплата</div>
                                    <div class="vacancies-list__info-value">55 000 Р</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">место работы</div>
                                    <div class="vacancies-list__info-value">Тургеневский переулок</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">график работы</div>
                                    <div class="vacancies-list__info-value">5/3</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">соц.пакет</div>
                                    <div class="vacancies-list__info-value">ДМС</div>
                                </div>
                            </div>
                            <a href="javascript:;" class="vacancies-list__name">
                                КАССИР
                            </a>
                            <div class="vacancies-list__info">
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">направление</div>
                                    <div class="vacancies-list__info-value">Логистика</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">зарплата</div>
                                    <div class="vacancies-list__info-value">55 000 Р</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">место работы</div>
                                    <div class="vacancies-list__info-value">город Коломна</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">график работы</div>
                                    <div class="vacancies-list__info-value">5/3</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">соц.пакет</div>
                                    <div class="vacancies-list__info-value">ДМС</div>
                                </div>
                            </div>
                            <a href="javascript:;" class="vacancies-list__name">
                                БУХГАЛТЕР
                            </a>
                            <div class="vacancies-list__info">
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">направление</div>
                                    <div class="vacancies-list__info-value">Логистика</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">зарплата</div>
                                    <div class="vacancies-list__info-value">55 000 Р</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">место работы</div>
                                    <div class="vacancies-list__info-value">Тургеневский переулок</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">график работы</div>
                                    <div class="vacancies-list__info-value">5/3</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">соц.пакет</div>
                                    <div class="vacancies-list__info-value">ДМС</div>
                                </div>
                            </div>
                            <a href="javascript:;" class="vacancies-list__name">
                                ГРУЗЧИК (Симферопольское ш.)
                            </a>
                            <div class="vacancies-list__info">
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">направление</div>
                                    <div class="vacancies-list__info-value">Логистика</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">зарплата</div>
                                    <div class="vacancies-list__info-value">55 000 Р</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">место работы</div>
                                    <div class="vacancies-list__info-value"></div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">график работы</div>
                                    <div class="vacancies-list__info-value">5/3</div>
                                </div>
                                <div class="vacancies-list__info-part">
                                    <div class="vacancies-list__info-label">соц.пакет</div>
                                    <div class="vacancies-list__info-value">ДМС</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="scroll-pane__down"></a>
                </div>

            </div>
        </div>

    </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>